<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Home</title>
</head>
<body>
  <h2>Login</h2>
  <br/><br/>
  <form action='/login' method='POST'>
    <span><b>Email : </b><input type='email' name='email'></span>
    <span><b>Wachtwoord : </b><input type='password' name='password'></span>
    <span><button type='submit'>Login</button></span>
  </form>
</body>
</html>
