<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <p>
   <span><b>ID : </b><%= user.id %></span><br />
   <span><b>email : </b><%= user.email %></span><br/>
   <span><b>password : </b><%= user.password %></span><br />

  </p>
</body>
</html>
