<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Gebruikers beheren</title>
</head>
<body>
  <h2>Gebruikers beheren</h2>
  <br/><br/>
  <h4>Nieuwe gebruiker maken</h4>
  <form action='/newUser' method='POST'>
    <span><b>Email : </b><input type='email' name='email' id='email'></span>
    <span><b>Wachtwoord : </b><input type='password' name='password'></span>
    <span><button type='submit'>Toevoegen</button></span>
  </form>
</body>
</html>